GEO_PRIVATE_KEY=
GEO_PERSONAL_SPACE_ID=
GEO_TARGET_SPACE_ID=141d3ace705feabc04d50c78bbf7226e
GEO_TARGET_SPACE_ADDRESS=0x7ec9E7f68C446e009a8F825f844fAFa8C8bC4228
GEO_TARGET_SPACE_NAME=Disease Atlas
GEO_TARGET_SPACE_ENTITY_ID=7a61e49028284ccf8e325f21b4929628
GEO_TARGET_PAGE_TYPE_ID=
GEO_NETWORK=TESTNET
DRY_RUN=1

